html {
  scroll-behavior: smooth;
}


body {
  box-sizing: border-box;
  background: linear-gradient(55deg, #806060 0%, #9b8e8e 51%, #58b4db 85%);
  background-size: 150%;
}




.bemutatkozas  {
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(88, 235, 90, 0.1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  min-width: 110%;
}



.elerhet {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.info {
  width: 80px;
}

.munkaim {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
}

.munkak {
  display: flex;
  flex-direction: row;
 justify-content:space-evenly;
  margin:0 auto;
  gap: 30rem;
}


.masszinu {
  color: black;
}

.kartyakep {
  height: 14rem;
}


.card-body {
  text-align: center;
  background-color: antiquewhite;
}


.container {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

.fa {
  display: flex;
}


.stackek {
  justify-content: center;
}





.carden {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;

  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.info {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


.en {
 max-width: 100%;
  margin: auto auto 1rem auto;
}

.udv {
  font-size: 10rem;
  height: 45rem;
  margin-top: 5rem;
  opacity: 0%;
}



.koszones {
  animation: slide-in-anim 1.5s ease-in forwards;
}


@keyframes slide-in-anim {
	20% {
		opacity: 0;
    transform: translateX(-100%)  scale(0.8);
	}
	75% {
		transform: translateX(0%) scale(0.9);
	}
	100% {
		opacity: 1;
		transform: translateX(0%) translateY(20%) scale(1.0);
	}
}

.fade {
  opacity: 0%;
}


.navigacio {
  animation: lefeleuszik 1s ease-in;
}

@keyframes lefeleuszik {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}




.form-control {
  width: 40%;
}


.cv {
  padding-bottom: 15%;
}