body {
    background-color: antiquewhite;
    background-size: 800% 800%;
    height: 100vh;
    background-size: cover;
    background-image: url(images/vegetables.jpg);

}




.masodik {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(194, 193, 194, 0.73)),
    url(images/vegetables.jpg);
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-size:cover;

}

.kivalasztas {
    color: rgb(255, 255, 255);;
    font-weight: bold;
    background-color: rgba(130, 83, 83, 0.57);
}


.d-flex {
    padding-top: 1rem;
}

.szoveg {
font-size: 2rem;
}


.nagydoboz {
    size: 0.2rem;
    background-color: rgba(195, 234, 125, 0.57);
    -webkit-box-shadow: -9px 24px 19px 14px rgba(0,0,0,0.79); 
    box-shadow: -9px 24px 19px 14px rgba(0,0,0,0.79);
    border-radius:5%;
}







