body {
    background: linear-gradient(130deg, #930d0d, #1a6a05, #05076a, #03878f);
    background-size: 800% 800%;
    height: 100vh;
    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:55% 0%}
    50%{background-position:46% 100%}
    100%{background-position:55% 0%}
}


h1 {
  text-align: center;  
  padding-bottom: 3rem;
}

.kerdesek {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 5%;
}



.gomb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.eredmeny {
    background-color: antiquewhite;
border: 1px solid burlywood;
margin: auto;
padding:10px
}

.mire {

    padding:0 6em;
}